{# src/Blogger/BlogBundle/Resources/views/contact.html.twig #}
{% extends 'BloggerBlogBundle::layout.html.twig' %}
{% block body %}
	<header>
		<h1> Contact Symblog </h1>
	</header>	
 
 	<p> Want to Contact Symblog ? </p>
 
 {% endblock %}